@import "style/variables";

.input-wrapper {
  width: 100%;
  position: relative;
  padding: 12px 12px 10px;
  border: solid $color-tertiary $border-width;
  border-radius: $border-radius;
  background-color: inherit;
}

.input {
  width: 100%;
  border: none;
  background-color: unset;
  outline: none;
  color: $color-primary;
  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    transform: translateY(-19px) scale(0.8);
}
  &::placeholder {
    color: transparent;
}
}
.label {
  position: absolute;
  left: 11px;
  padding: 0 5px;
  color: $input-label-color;
  background-color: inherit;
  transform-origin: 0 0;
  user-select: none;
  transition: transform 0.2s ease-in-out;
}

.input-error {
  border-color: $color-highlight;
}

.label-error {
  color: $color-highlight;
}