@import 'src/style/variables';
@import 'src/style/mixins';

.product {
  height: 350px;
  width: 260px;
  font-size: $font-body-xl;
  font-weight: 300;
}
.image {
  height: 260px;
  width: 260px;
  border: $border-width $border-color solid;
  transition: border 0.25s;
  margin-bottom: 8px;
  cursor: pointer;
  img {
    max-width: 100%;
  }

  &:hover {
    border: $border-width $border-color-dark solid;
  }
}
.product-info {
}
.artist {
  margin-bottom: 5px;
}
.price {
  margin-bottom: 5px;

  font-weight: 400;
}

.title {
  margin-bottom: 5px;
}
