@import 'src/style/variables';
@import 'src/style/mixins';

.head {
  border-bottom: $border-width $border-color solid;
  height: 70px;
  padding: 0 18px 0 18px;
  @include flexProperty(center, space-between, null, null);
}
