@import 'src/style/variables';
@import 'src/style/mixins';



.product-item {
   position: relative;
   padding: 10px;
   display: flex;
   gap: 10px;
   font-size: $font-body-xl;
   font-weight: 400;
   border-bottom: $border-width $border-color solid;
   cursor: pointer;
   &:hover .image {
      box-shadow: 0 0 24px 9px rgba(150, 150, 150, 0.24);
      border: $border-width $border-color-dark solid;
   }
}
.image {
   height: 100%;
   width: 100%;
   max-height: 110px;
   max-width: 110px;
   transition: all 0.25s;
   border: $border-width $border-color solid;
}

.product-info {
   width: 100%;
   @include flexProperty(center, space-between, null, 20px);
}

.product-text {
   padding-top: 5px;
   gap: 5px;
   align-self: flex-start;
   @include flexColumn;
}

.product-description {
   font-weight: 300;
}

.delete {
   color: $color-primary;
   transition: color 0.25s;
   font-size: 14px;
   @include absolute(null, null, null, 493px);
   &:hover {
      color: $color-highlight !important;
   }
}
.input-wrapper {
   position: absolute;
   content: '';
   top: 88px;
   left: 131px;
}