@import 'style/variables';
@import 'style/mixins';

.product-wrapper {
  display: flex;
}

.product {
  height: 48%;
  width: 16%;
  max-height: 341px;
  font-weight: 300;
  font-size: $font-body-xl;
  user-select: none;
  display: flex;
  &:hover .view {
    transform: translateY(0);
  }
  &:hover .image {
    border: $border-width $border-color-dark solid;
    box-shadow: 0 6px 12px 1px rgba(150, 150, 150, 0.8);
  }
}
.image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
  border: $border-width $border-color solid;
  box-shadow: 0 6px 12px 1px rgba(150, 150, 150, 0.25);
  @include flexCenter(null, null);
}

.product-info {
  font-size: $font-body-l;
  display: flex;
  flex-direction: column;
  height: 24%;
}

.title {
  font-size: $font-body-xl;
  font-weight: 400;
  margin: 5px 0 3px;
}

.description {
  margin-bottom: 3px;
}

.price {
  font-size: $font-body-xxl;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.icon-wrapper {
  position: absolute;
  content: '';
  top: 2%;
  right: 3%;
}

.buttonWrapper {
  font-size: 24px;
  color: #5a5a60;
  cursor: pointer;
}

.fav-icon {
  color: $color-tertiary;
}

.fav-icon-active {
  color: $color-primary;
}

.view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  text-align: center;
  padding-top: 3%;
  background-color: $color-primary;
  color: $color-secondary;
  font-weight: 500;
  transform: translateY(100%);
  transition: transform 0.3s;
}
