@import 'normalize.css';
@import 'variables.scss';
@import 'mixins.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  color: inherit;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: $bg-color-primary;
}
