@import 'variables';

@mixin flexProperty($alignItems, $justifyContent, $flDirection, $gap) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flDirection;
  gap: $gap;
}

@mixin flexCenter($flDirection, $gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flDirection;
  gap: $gap;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin absolute($width, $height, $bottom, $left) {
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  bottom: $bottom;
  left: $left;
}
