//colors
$color-primary: #18181b;
$color-secondary: #f2f2f2;
$color-interactive: #c10000;

//fonts
$typeface-primary: Inter, sans-serif;
$font-heading-l: 22px;
$font-heading-xl: 28px;
$font-body-m: 11px;
$font-body-l: 12px;
$font-body-xl: 14px;
$font-button: 19px;

//background
$bg-color-primary: #f2f2f2;
$bg-color-secondary: #e4e4e7;

//border
$border-width: 1px;
$border-color: #9ca3af;
$border-color-dark: #242428;
$border-radius: 0.45rem;

//button
$btn-primary: #1d1d21;
$btn-primary-hover: #000000;
