//colors
$color-primary: #0c151c;
$color-secondary: #f2f2f2;
$color-tertiary: #cbcbd7;
$color-highlight: #c10000;

//fonts
$typeface-primary: Inter, sans-serif;
$font-heading-l: 22px;
$font-heading-xl: 28px;
$font-body-m: 11px;
$font-body-l: 12px;
$font-body-xl: 14px;
$font-body-xxl: 18px;
$font-button: 19px;

//background
$bg-color-primary: #f2f2f2;
$bg-color-secondary: #e4e4e7;
$bg-color-olive: #e5e8e5;

//border
$border-width: 1px;
$border-color: #9ca3af;
$border-color-dark: #242428;
$border-radius: 0.45rem;

//button
$btn-default: #0c151c;
$btn-primary: #c10000;
$btn-secondary: #5a31f4;
$btn-default-hover: #13202a;
$btn-primary-hover: #b70404;
$btn-secondary-hover: #3c0def;

//input
$input-label-color: #7a7a7e;

