@import 'style/variables';

.checkout-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 64%;
  align-self: flex-end;
}

.divider {
  margin-top: 4%;
  position: relative;
  width: 100%;
  border-bottom: $border-width solid $color-tertiary;
  span {
    padding: 0 7px;
    font-size: $font-body-m;
    color: $color-tertiary;
    background-color: $bg-color-primary;
    transform: translate(-50%, -50%);
    position: absolute;
    top: -1%;
    left: 50%;
  }
}
