@import 'style/variables';

.container {
  width: 100%;
  margin-top: 4%;
  position: relative;
}

.buttons-wrapper {
  height: 42px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.buttons-border {
  padding: 20px;
  border: $border-width solid $color-tertiary;
  border-radius: $border-radius;
}

.label {
  padding: 0 7px;
  background-color: $bg-color-primary;
  font-size: $font-body-xl;
  transform: translate(-50%, -50%);
  position: absolute;
  top: -1%;
  left: 50%;
}
